doctype html
html
    head
        title=Super
        link(rel="stylesheet" href="/public/sass/css/pizzas.css")
    body
        header 
            img(src="/public/logo.png", alt="")
            nav 
                a(href="/admin/users") Utilisateurs
                a(href="/admin/pizzas" class="ok") Pizzas
                a(href="/admin/menus") Menus
                a(href="/admin/desserts") Desserts
                a(href="/admin/boissons") Boissons
                a(href="/admin/clients") Clients
                a(href="/admin/commandes") Commandes
                a(href="/admin/livreurs" class="ok") Livreurs
                a(href="/admin/ingredients") Ingrédients
                a(href="/admin/stats") Statistiques
                a(href="/admin/promotions") Promotions
        main
            div(id=zonePrincipale)
                    button(type="submit")
                        a(href="/admin/clients") Retour à la page des clients

                    h2 Editer le client
                    form(action=`/admin/clients/editer/${clients.id}`, method="post")
                        div
                            label(for="nom") Nom
                            input(type="text" name="nom" id="nom" value=`${clients.nom}`)
                        div
                            label(for="prenom") Prénom
                            input(type="text" name="prenom" id="prenom" value=`${clients.prenom}`)
                        div
                            label(for="adresse") Adresse
                            input(type="text" name="adresse" id="adresse" value=`${clients.adresse}`)
                        div
                            label(for="email") E-mail
                            input(type="text" name="email" id="email" value=`${clients.email}`)
                        div
                            label(for="motDePasse") Mot de passe
                            input(type="hidden" name="motDePasse" id="motDePasse" value=`${clients.motDePasse}`)
                        div    
                            button(type="submit") Editer
            div(id=zoneActivite)
                    p Zone activité